@model IEnumerable<Video_Teca.Models.MoviesAndSeries>

@{
    ViewData["Title"] = "AdminMovSer";
}

<h1>AdminMovSer</h1>

<p>
    <a  class="btn btn-detalles" asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 container-cards">
    @foreach (var item in Model)
    {
        <div class="col div-card">
      
                <div class="card" style="width: 12rem;">
               
                    <img src=@Html.DisplayFor(modelItem => item.movie_cover) class="card-img-top" alt="...">
                    
                    <div class="card-body">

                    <p class="card-text"> <strong>Director:</strong>@Html.DisplayFor(modelItem => item.director).</p>
                    
                    </div>
                 
                 <div class="card-footer text-center d-flex justify-content-evenly">
                    <a class="btn btn-detalles" asp-action="Details" asp-route-id="@item.id">Detalles</a>
                            <button id="btn-eliminar" class="btn btn-eliminar" data-movieseries-id="@item.id">Eliminar</button>
                    @*<a class="btn btn-detalles" asp-action="DeleteMS" asp-route-id="@item.id">DeleteS</a>*@
                </div>
                @if (item.media_type == "series")
                {
                    <a class="btn btn-detalles" asp-action="AddCaps" asp-route-id="@item.id">UpdateCaps</a>
                }
            </div>


        </div>
    }

    <div class="modal fade" id="modal-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content content-delete-user">

                <div class="modal-body">
                    <h5>¿Estas seguro que deseas eliminar al usuario seleccionado?</h5>
                    <br />
                    <br />
                    <div class="d-flex justify-content-evenly">
                        <button class="btn btn-detalles" id="cancelar-eliminar" data-bs-dismiss="modal" aria-label="Close">No</button>
                        <a class="btn btn-validado-eliminar" id="btn-confirmed-delete" data-bs-dismiss="modal" aria-label="Close">Si</a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade alert-danger" id="modal-movie-deleted" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">

                <div class="modal-body">


                    <p id="text-user-deleted">A ocurrido un error al intentar eliminar la pelicula o serie</p>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
          

            window.onload = function () {               
                    LoadUserData(); //Carga la imagen y el username al nav de la aplicacion
                
            };

                $('.btn-eliminar').click(deleteMovie);
           
        });


    </script>

    }