@model Video_Teca.Models.MoviesAndSeries

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<script src="~/js/CommentPopup.js"></script>*@
    <script src="~/js/Content.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/details.css">
</head>
<body>
    <div class="Content">
        <div class="Content_Img">
            <img class="Cover" src="@Model.movie_cover" />
        </div>
        
       <div class="Content_Text">
        <h1>@Model.title</h1>
        <h2>Synopsis:</h2>
        <p>@Model.synopsis</p>
        <h2>Genres:</h2>
            @if (Model.media_type == "series")
            {
                
                }
                @foreach (var genre in ViewBag.Genres)
        {
            <h7>@genre,</h7>
        }
            <form data-movie-id="@Model.id">
                <h3>Rating</h3>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    
                    <label class="Start" for="radio1">★</label>
                   
                    <input id="radio2" type="radio" name="estrellas" value="4">
                    
                    <label class="Start" for="radio2">★</label>
                   
                    <input  id="radio3" type="radio" name="estrellas" value="3">
                 
                    <label class="Start" for="radio3">★</label>
                   
                    <input id="radio4" type="radio" name="estrellas" value="2">
                   
                    <label class="Start" for="radio4">★</label>
                   
                    <input class="Start" id="radio5" type="radio" name="estrellas" value="1">
                    
                    <label class="Start" for="radio5">★</label>
                </p>
                <div id="promedio"></div>
            </form>
        </div>
        <div class="Additional">
            <button href="#" class="btn-popup" data-movie-id="@Model.id" data-popup-type="actors">Actors</button>
            <button href="#" class="btn-popup" data-movie-id="@Model.id" data-popup-type="reviews">Reviews</button>
        </div>
    </div>
   
   
    <div id="popup-container">
        <div id="popup-content"></div>
    </div>
</body>
</html>