@model IEnumerable<Video_Teca.Models.MoviesAndSeries>

@{

    ViewData["Title"] = "DisplayClient";
}
@*@ViewBag.Username*@
<!DOCTYPE html>
<html>
<head>
    <title></title>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/LoadData.js"></script>
    <script src="~/js/search.js"></script>
   
    <link rel="stylesheet" type="text/css" href="~/css/Client.css">
</head>
<body>
    <div class="SearchBox">
        <div class="box">
             <div class="container-2">
                 <span class="icon"><i class="fa fa-search"></i></span>
                 <input type="search" id="searchInput" placeholder="Search..." />
            </div>
          </div>
    
        <div class="FilterDiv">
            <a class="fas fa-filter" id="filterButton"></a>
            <div id="genreFilter" style="display:none">
                <form id="genreFilterForm">
                    <label><input type="checkbox" name="genre" value="Drama">Drama</label>
                    <label><input type="checkbox" name="genre" value="Action">Action</label>
                    <label><input type="checkbox" name="genre" value="Comedy">Comedy</label>
                    <label><input type="checkbox" name="genre" value="Documentary"> Documentary</label>
                    <label><input type="checkbox" name="genre" value="Adventure">Adventure</label>
                    <label><input type="checkbox" name="genre" value="Science Fiction">Science Fiction</label>
                    <label><input type="checkbox" name="genre" value="Thriller">Thriller</label>
                    <label><input type="checkbox" name="genre" value="Romance">Romance</label>
                    <label><input type="checkbox" name="genre" value="Animation">Animation</label>
                    <label><input type="checkbox" name="genre" value=" Fantasy"> Fantasy</label>
                </form>
            </div>
       </div>
       <div id="ContainerSearch">
        <div id="searchResults"></div>
        </div>
    </div>
    <h2>New Release</h2>
    <div class="galery">
      
        @foreach (var pelicula in ViewBag.PelisRecientes)
        {
            <div class="Image_Carrusel_NewAdd">
                <img src="@pelicula.movie_cover" href="#" class="btn-popup" data-movie-id="@pelicula.id" />
            </div>
        }
    </div>
    <h4>@ViewBag.GenreName1</h4>
    <div class="galery">
        
        @foreach (var pelicula in ViewBag.PelisGenero1)
        {
            <div class ="Image_Carrusel">
                <img src="@pelicula.movie_cover" href="#" class="btn-popup" data-movie-id="@pelicula.id"  />
            </div>
        }
    </div>
    <h4>@ViewBag.GenreName2</h4>
    <div class="galery">
        
        @foreach (var pelicula in ViewBag.PelisGenero2)
        {
            <div class="Image_Carrusel">
                <img src="@pelicula.movie_cover" href="#" class="btn-popup" data-movie-id="@pelicula.id"  />
            </div>
        }
    </div>
    <h4>@ViewBag.GenreName2</h4>
    <div class="galery">

        @foreach (var pelicula in ViewBag.PelisGenero2)
        {
            <div class="Image_Carrusel">
                <img src="@pelicula.movie_cover" href="#" class="btn-popup" data-movie-id="@pelicula.id" />
            </div>
        }
    </div>

  
    <div id="popup-container">
        <div id="popup-content">
  
        </div>
    </div>
    

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     
        <script type="text/javascript">
            $(document).ready(function () {
                $(".galery").slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    centerMode: true,
                    variableWidth: true
                   
                });

                window.onload = function () {
                    if ('@ViewBag.UserId' != "@ViewBag.Username") { //Determina si recibio el id del usuario, es decir, si es la primera llamada a index
                        localStorage.clear(); //Elimina todo lo que este en localstorage antes de guardar datos en el

                        var UserId = '@ViewBag.UserId';
                        localStorage.setItem('idUser', UserId); //Guarda el id del usuario en localstorage

                        var username = '@ViewBag.Username';
                        localStorage.setItem('username', username); //Guarda el id del usuario en localstorage

                        $.ajax({
                            url: '/Client/getBytesImage',
                            type: 'GET',
                            data: { id: UserId },
                            success: function (response) {
                                localStorage.setItem('bytesImg', response); //Guarda la imagen del usuario en localstorage

                                var outputElement = document.getElementById('img-perfil');
                                outputElement.src = 'data:image/webp;base64,' + response;

                            }
                        });
                    } else {
                        LoadUserData(); //Carga la imagen y el username al nav de la aplicacion
                    }
                };

            });


        </script>

    }

</body>
</html>



