@model Video_Teca.Models.MoviesAndSeries

<div>
    <h2>@Model.title</h2>
    <p>@Model.synopsis</p>
    <p>Director: @Model.director</p>
    <p>Clasificación: @Model.clasification</p>
    <p>Año de lanzamiento: @Model.release_year</p>

    <div class="Coments">
    <input type="text" id="myInput" name="myInput" placeholder="Comments">

    </div>
</div>