@model Video_Teca.Models.MoviesAndSeries

<script src="~/js/LoadData.js"></script>
<script src="~/js/Details.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Info.css">
<div>
    <div class="InfoDiv">
    <h2>@Model.title</h2>
        <img src=@Model.movie_cover style="width:100px;height100px" ></img>
    <p>@Model.synopsis</p>
 
    <p>Director: @Model.director</p>
    <p>Clasificación: @Model.clasification</p>
  
    </div>
    @*<button href="#" class="btn-more-details" data-movie-id="@Model.id">>Details</button>
    using (Html.BeginForm("Details", "Client", FormMethod.Post))
    {
        <button href="#" class="btn-more-details" data-movie-id="@Model.id">>Details</button>
       
    }*@
    <button class="btn-details" data-movie-id="@Model.id">Details</button>
    
    <div id="detailsContainer"></div>
    <div class="Coments">
    <input type="text" id="myComment" name="myInput" placeholder="Comments">
        <button id="myButton" data-movie-id="@Model.id">Comentar</button>
    </div>


</div>